<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="/js/themes/gray.js"></script>	
	
	<script>
	$(function() {
					$( "#datepicker" ).datepicker();
				 });
	$(function() {
					$( "#datepickerFrom" ).datepicker();
				 });
	$(function() {
					$( "#datepickerTo" ).datepicker();
				 });

	</script>
</head>
<body id='#my_page'>
<h1>Reporting</h1>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   		<tr style="background-color:lightgrey;">
		  <th style="width:30px;"></th> 
	      <th style="width:75px;">Today</th> 
	      <th style="width:75px;">This week</th> 
	      <th style="width:75px;">Date: <input type="text" id="datepicker"/></th> 
	      <th style="width:150px;">From <input type="text" id="datepickerFrom"/> to <input type="text" id="datepickerTo"/></th>
		</tr>
		<tr><th style="background-color:lightgrey;"> Turnover </th>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date =>Date.today).sum("turnover")%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date => Date.today-6..Date.today).sum("turnover")%></td>			
			<td style="padding-left:10px; color:midnightblue;" id="resultTO"></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultTOFromTo"></td>						
		</tr>
		<tr><th style="background-color:lightgrey;"> Quantities </th>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date =>Date.today).sum("quantity")%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date => Date.today-6..Date.today).sum("quantity")%></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultQty"></td>	
			<td style="padding-left:10px; color:midnightblue;" id="resultQtyFromTo"></td>																	
		</tr>
		<tr><th style="background-color:lightgrey;"> Best seller </th>
			<td style="padding-left:10px; color:midnightblue;"><%= if !Movement.where(:movement_date =>Date.today).empty? 
																	then Movement.where(:movement_date =>Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code
																	else 0
																	end%> <%= if !Movement.where(:movement_date =>Date.today).empty? 
																				then Article.where(:article_code =>Movement.where(:movement_date =>Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code).first.article_text
																				else 0
																				end%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= if !Movement.where(:movement_date => Date.today-6..Date.today).empty?
																	then Movement.where(:movement_date => Date.today-6..Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code
																	else 0
																	end%> <%= if !Movement.where(:movement_date => Date.today-6..Date.today).empty?
																				then Article.where(:article_code =>Movement.where(:movement_date => Date.today-6..Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code).first.article_text
																				else 0
																				end%></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultBestSeller"></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultBestSellerFromTo"></td>																																
		</tr>
</table>		
<br />

<h1>Turnover graph</h1>
<div id="container" style="width:100%; height:400px;"> </div>
<br/>

<h1>Listing all movements</h1>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;">Article code</th> 
	      <th style="width:150px;">Movement Date</th> 
	      <th style="width:150px;">Turnover</th> 
	      <th style="width:150px;">Quantity</th> 
	   </tr> 
	<% @movements.each do |movement| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.article_code %></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.movement_date %></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.turnover %></td> 
			<td style="padding-left:10px; color:midnightblue;"><%= movement.quantity %></td> 
			<td><%= link_to 'Show', movement %></td>
		    <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
		    <td><%= link_to 'Destroy', movement, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
		  </tr>
		<% end %>
</table>
<br />

<%= link_to 'New Movement', new_movement_path %>
	
<script>
$(document).ready(function(){

// Reporting datepickers
	var $datepicker = $("#datepicker"),
		$datepickerFrom = $("#datepickerFrom"),
		$datepickerTo = $("#datepickerTo"),
	 	currentDate = new Date(),
	 	currentDateFrom = new Date(),
	 	currentDateTo = new Date(),
		dateString = "",
		dateStringFrom = "",
		dateStringTo = "";
			
	$datepicker.change(function(){				
				// Get the selected date
			 	currentDate = $datepicker.datepicker( "getDate" );
				// Convert the date to desired format
				dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);					
				// Rule: Never use alert() but console.log()
				//console.log("My dateString is: "+dateString);
				
			$.ajax({
				  type: "POST",
				  // You're sending the variable to your Ruby on Rails controller
				  url: "movements/getTO/",
				  data: {"date":dateString},
				}).done(function(data) {
				  	$("#resultTO").html(data[0])
					$("#resultQty").html(data[1])
					$("#resultBestSeller").html(data[2]+" "+data[3])
				});							
			});	

	$datepickerFrom.change(function(){				
				currentDateFrom = $datepickerFrom.datepicker( "getDate" );
				dateStringFrom = $.datepicker.formatDate("yy-mm-dd", currentDateFrom);	
				currentDateTo = $datepickerTo.datepicker( "getDate" );
				dateStringTo = $.datepicker.formatDate("yy-mm-dd", currentDateTo);
				if (currentDateTo==null){0} else 
				{if (currentDateFrom > currentDateTo) {
					alert("Beginning date should be before ending date : result will not be calculated");}
			 	else {
				$.ajax({
					type: "POST",
				  	url: "movements/getTO2Dates/",
				  	data: {"date1":dateStringFrom, "date2":dateStringTo},
					}).done(function(data) {
						$("#resultTOFromTo").html(data[0])
						$("#resultQtyFromTo").html(data[1])
						$("#resultBestSellerFromTo").html(data[2]+" "+data[3])
						});	
				}}				
	});
	
	$datepickerTo.change(function(){				
				currentDateFrom = $datepickerFrom.datepicker( "getDate" );
				dateStringFrom = $.datepicker.formatDate("yy-mm-dd", currentDateFrom);	
				currentDateTo = $datepickerTo.datepicker( "getDate" );
				dateStringTo = $.datepicker.formatDate("yy-mm-dd", currentDateTo);
				if(currentDateFrom==null){0} else
				{if (currentDateFrom > currentDateTo) {
					alert("Beginning date should be before ending date : result will not be calculated");}
			 	else {
				$.ajax({
					type: "POST",
				  	url: "movements/getTO2Dates/",
				  	data: {"date1":dateStringFrom, "date2":dateStringTo},
					}).done(function(data) {
						$("#resultTOFromTo").html(data[0])
						$("#resultQtyFromTo").html(data[1])
						$("#resultBestSellerFromTo").html(data[2]+" "+data[3])
						});	
				}}				
	});

// Highcharts (see www.highcharts.com)
		var chart;
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Overall results'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Drag your finger over the plot to zoom in'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 14 * 24 * 3600000, // fourteen days
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Turnover'
                },
                showFirstLabel: false
            },
            tooltip: {
                shared: true,
				formatter: function(){
					return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + "$" + Highcharts.numberFormat(this.y, 2);
				}
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, 'rgba(2,0,0,0)']
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
    
            series: [{
                type: 'line',
                name: 'Total turnover',
                pointInterval: <%= 1.day * 1000%>,
                pointStart: <%= 4.weeks.ago.to_i * 1000%>,
                data: <%= movements_chart_series(@movements, 4.weeks.ago).to_json %> 
				}]
        });

});
</script>		
</body>
</html>