<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css" />
	<script>
	$(function() {
					$( "#datepicker" ).datepicker();
				 });
	</script>
</head>
<body id='#my_page'>
<h1>Reporting</h1>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   		<tr style="background-color:lightgrey;">
		  <th style="width:150px;"></th> 
	      <th style="width:150px;">Today</th> 
	      <th style="width:150px;">This week</th> 
	      <th style="width:150px;">Date: <input type="text" id="datepicker"/></th> 
	      <th style="width:150px;">From xx to yy</th>
		</tr>
		<tr><th style="background-color:lightgrey;"> Turnover </th>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date =>Date.today).sum("turnover")%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date => Date.today-6..Date.today).sum("turnover")%></td>			
			<td style="padding-left:10px; color:midnightblue;" id="resultTO"></td>			
		</tr>
		<tr><th style="background-color:lightgrey;"> Quantities </th>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date =>Date.today).sum("quantity")%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:movement_date => Date.today-6..Date.today).sum("quantity")%></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultQty"></td>												
		</tr>
		<tr><th style="background-color:lightgrey;"> Best seller </th>
			<td style="padding-left:10px; color:midnightblue;"><%= if !Movement.where(:movement_date =>Date.today).empty? 
																	then Movement.where(:movement_date =>Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code
																	else 0
																	end%> <%= if !Movement.where(:movement_date =>Date.today).empty? 
																				then Article.where(:article_code =>Movement.where(:movement_date =>Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code).first.article_text
																				else 0
																				end%></td>
			<td style="padding-left:10px; color:midnightblue;"><%= if !Movement.where(:movement_date => Date.today-6..Date.today).empty?
																	then Movement.where(:movement_date => Date.today-6..Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code
																	else 0
																	end%> <%= if !Movement.where(:movement_date => Date.today-6..Date.today).empty?
																				then Article.where(:article_code =>Movement.where(:movement_date => Date.today-6..Date.today).select("article_code, sum(turnover)").group("article_code").order("sum(turnover) DESC").first.article_code).first.article_text
																				else 0
																				end%></td>
			<td style="padding-left:10px; color:midnightblue;" id="resultBestSeller"></td>																													
		</tr>
</table>	
	
	
	<br />
	<h1>Listing movements</h1>
	<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;">Article code</th> 
	      <th style="width:150px;">Movement Date</th> 
	      <th style="width:150px;">Turnover</th> 
	      <th style="width:150px;">Quantity</th> 
	   </tr> 
	   <% @movements.each do |movement| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.article_code %></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.movement_date %></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.turnover %></td> 
			<td style="padding-left:10px; color:midnightblue;"><%= movement.quantity %></td> 
			<td><%= link_to 'Show', movement %></td>
		    <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
		    <td><%= link_to 'Destroy', movement, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</table>

	<br />

	<%= link_to 'New Movement', new_movement_path %>
	
<script>
$(document).ready(function(){

	var $datepicker = $("#datepicker"),
	 	currentDate = new Date(),
		dateString = "";
	
	$datepicker.change(function(){
				
				// Get the selected date
			 	currentDate = $datepicker.datepicker( "getDate" );
				// Convert the date to desired format
				dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);	
				
				// Rule: Never use alert() but console.log()
				//console.log("My dateString is: "+dateString);
				
			$.ajax({
				  type: "POST",
				  // You're sending the variable to your Ruby on Rails controller
				  url: "movements/getTO/",
				  data: {"date":dateString},
				}).done(function(data) {
				  	$("#resultTO").html(data[0])
					$("#resultQty").html(data[1])
					$("#resultBestSeller").html(data[2]+" "+data[3])
				});							
			});	
});
</script>		
</body>
</html>