<p id="notice"><%= notice %></p>

<p>
  <b><%= t "activerecord.attributes.movement.article_code"%> :</b>
  <%= @movement.article_code %>
</p>

<p>
  <b><%= t "activerecord.attributes.movement.movement_date"%> :</b>
  <%= @movement.movement_date %>
</p>

<p>
  <b><%= t "activerecord.attributes.movement.turnover"%> :</b>
  <%= @movement.turnover %>
</p>

<p>
  <b><%= t "activerecord.attributes.movement.quantity"%> :</b>
  <%= @movement.quantity %>
</p>


<%= link_to t("actions.edit"), edit_movement_path(@movement) %> |
<%= link_to t("actions.back"), movements_path %>
