<title>Efficient Inventory | <%= t "layouts.application.register"%></title>
<hr>
<h2><%= t ".title1"%></h2>
<h5><%= t ".text1"%></h5>
<h5><%= t ".text2"%></h5>
<br/>
<h6><%= t ".choose"%></h6>
<section class="services grid-wrap">
	<article class="grid col-one-third mq3-col-full">
		<aside>01</aside>
		<h4><%= t ".title_option1"%></h4>
		<p><%= t ".text_option1"%></p>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<aside>02</aside>
		<h4><%= t ".title_option2"%></h4>
		<p><%= t ".text_option2"%></p>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<aside>03</aside>
		<h4><%= t ".title_option3"%></h4>
		<p><%= t ".text_option3"%></p>
	</article>
</section>
<section class="services grid-wrap">
	<article class="grid col-one-third mq3-col-full">
		<h4><%= t ".price_option1"%></h4>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<h4>9€ / <%= t "time.prompts.month"%></h4>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<h4>90€ / <%= t "time.prompts.year"%></h4>
	</article>
</section>
<br/>

<hr>
<h2><%= t ".register_beta"%></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
	<br/>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>
	<br/>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
	<br/>

  <div><%= f.label :language %>
  <%= f.select(:language, [["English", "en"], ["Français", "fr"]])  %></div>

<br/>

  <div><%= f.submit t("layouts.application.register") %></div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
