<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_code %><br />
    <%= f.text_field :article_code %>
  </div>
  <div class="field">
    <%= f.label :article_text %><br />
    <%= f.text_field :article_text %>
  </div>
  <div class="field">
    <%= f.label :model_code %><br />
    <%= f.text_field :model_code %>
  </div>
  <div class="field">
    <%= f.label :model_name %><br />
    <%= f.text_field :model_name %>
  </div>
  <div class="field">
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br />
    <%= f.select(:supplier, @suppliers.map {|s| [s.supplier_text]})  %>
  </div>
  <div class="field">
    <%= f.label :box %><br />
    <%= f.number_field :box %>
  </div>
  <div class="field">
    <%= f.label :minimum_of_qty %><br />
    <%= f.number_field :minimum_of_qty %>
  </div>
 <div class="field">
    <%= f.label :unitary_price_if_box %><br />
    <%= f.text_field :unitary_price_if_box %>
  </div>
  <div class="field">
    <%= f.label :unitary_price_if_massive %><br />
    <%= f.text_field :unitary_price_if_massive %>
  </div>
  <div class="field">
    <%= f.label :selling_price_inc_vat %> (mandatory field)<br />
    <%= f.text_field :selling_price_inc_vat %>
  </div>
  <div class="field">
    <%= f.label :vat_rate %><br />
    <%= f.text_field :vat_rate %>
  </div>
  <div class="field">
    <%= f.label :end_life_date %><br />
    <%= f.date_select :end_life_date %>
  </div>
 <div class="field">
    <%= f.label :seasonality_code %><br />
    <%= f.text_field :seasonality_code %>
  </div>
  <div class="field">
    <%= f.label :stock_qty %> (mandatory field)<br />
    <%= f.number_field :stock_qty %>
  </div>
	</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
