<h1>Listing articles</h1>

<%= form_tag articles_path, :method => 'get', :id => "articles_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search in article text", :name => nil %>
  </p>
  <div id="cresults_div"></div>
<% end %>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
   <tr style="background-color:lightgrey;"> 
      <th style="width:150px;"><%= sortable "article_code", "Article code"%></th> 
      <th style="width:150px;"><%= sortable "article_text", "Article text"%></th> 
      <th style="width:150px;"><%= sortable "model_code", "Model code"%></th> 
      <th style="width:150px;"><%= sortable "model_name", "Model text"%></th> 
      <th style="width:150px;"><%=sortable "family", "Family"%></th> 
      <th style="width:150px;"><%=sortable "department", "Department"%></th> 
      <th style="width:150px;"><%= sortable "stock_qty", "Stock"%></th>
      <th style="width:150px;">Sales/day</th> 
      <th style="width:150px;">Stock lifetime</th>
	  <th style="width:150px;"><%= sortable "supplier", "Supplier"%></th> 
      <th style="width:150px;">Price if box</th> 
      <th style="width:150px;">Price if massive</th> 
      <th style="width:150px;"><%= sortable "selling_price_inc_vat", "Selling price incl VAT"%></th> 
      <th style="width:150px;">VAT rate</th> 
      <th style="width:150px;">End of life</th> 
      <th style="width:150px;"><%sortable "seasonality_code", "Seasonality"%></th> 
      <th style="width:150px;">Creation date</th> 

   </tr> 
   <% @articles.each do |article| %>
	<tr> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.article_code %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.article_text %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.model_code %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.model_name %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.family %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.department %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.stock_qty %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= number_with_precision(Movement.where(:article_code => article.article_code, :movement_date => Date.today-6..Date.today).sum("quantity").to_f / 7, :precision =>2) %></td> 	
		<td style="padding-left:10px; color:midnightblue;"><%= number_with_precision(article.stock_qty.to_f * 7/Movement.where(:article_code => article.article_code, :movement_date => Date.today-6..Date.today).sum("quantity").to_f, :precision =>2) %></td> 				
      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.supplier, Supplier.where(:supplier => article.supplier).first %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.unitary_price_if_box %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.unitary_price_if_massive %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.selling_price_inc_vat %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.vat_rate %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.end_life_date.strftime("%B %d, %Y") %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.seasonality_code %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.created_at.strftime("%B %d, %Y") %></td> 
		<td><%= link_to 'Show', article %></td>
	    <td><%= link_to 'Edit', edit_article_path(article) %></td>
	    <td><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
   </tr> 
<% end %>
</table>
<br />
<%= link_to 'New Article', new_article_path %>

<br /><br/>
<%= link_to 'Download Article Data', url_for(:format=>"xlsx") %>
<h1>Low stock article</h1>
<table>
	<% @articles_not_sorted.sort_by {|i| i.stock_at_rep}.each do |article| %>
		<tr>
		<td><%= article.article_code %></td> 
		<td><%= number_with_precision(article.stock_at_rep, :precision => 1) %></td> 		
		</tr>
	<%end%>
	
</table>
		
		


