<h1>Listing articles</h1>

<table>
  <tr>
    <th>Articlecode</th>
    <th>Articletext</th>
    <th>Supplier</th>
    <th>Box</th>
    <th>Minimumofqty</th>
    <th>Stockrisk</th>
    <th>Unitarypriceifbox</th>
    <th>Unitarypriceifmassive</th>
    <th>Sellingpriceincvat</th>
    <th>Vatrate</th>
    <th>Estimatedpricedecreaseratio</th>
    <th>Endlifedate</th>
    <th>Endlifeoption</th>
    <th>Seasonalitycode</th>
    <th>Stockqty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.articleCode %></td>
    <td><%= article.articleText %></td>
    <td><%= article.supplier %></td>
    <td><%= article.box %></td>
    <td><%= article.minimumOfQty %></td>
    <td><%= article.stockRisk %></td>
    <td><%= article.unitaryPriceIfBox %></td>
    <td><%= article.unitaryPriceIfMassive %></td>
    <td><%= article.sellingPriceIncVAT %></td>
    <td><%= article.vATRate %></td>
    <td><%= article.estimatedPriceDecreaseRatio %></td>
    <td><%= article.endLifeDate %></td>
    <td><%= article.endLifeOption %></td>
    <td><%= article.seasonalityCode %></td>
    <td><%= article.stockQty %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
