<h1>Listing articles</h1>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
   <tr style="background-color:lightgrey;"> 
      <th style="width:150px;">Article code</th> 
      <th style="width:150px;">Article text</th> 
      <th style="width:150px;">Supplier</th> 
      <th style="width:150px;">Box</th> 
      <th style="width:150px;">Minimum of qty</th> 
      <th style="width:150px;">Stock risk</th> 
      <th style="width:150px;">Price if box</th> 
      <th style="width:150px;">Price if massive</th> 
      <th style="width:150px;">Selling price incl VAT</th> 
      <th style="width:150px;">VAT rate</th> 
      <th style="width:150px;">Estimated price decrease %</th> 
      <th style="width:150px;">End of life</th> 
      <th style="width:150px;">End of life option</th> 
      <th style="width:150px;">Seasonality</th> 
      <th style="width:150px;">Stock</th> 
      <th style="width:150px;">Creation date</th> 

   </tr> 
   <% @articles.each do |article| %>
	<tr> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.article_code %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= article.article_text %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.supplier, Supplier.where(:supplier => article.supplier).first %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.box %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.minimum_of_qty %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.stock_risk %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.unitary_price_if_box %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.unitary_price_if_massive %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.selling_price_inc_vat %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.vat_rate %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.estimated_price_decrease_ratio %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.end_life_date.strftime("%B %d, %Y") %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.end_life_option %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.seasonality_code %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.stock_qty %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= article.created_at.strftime("%B %d, %Y") %></td> 
		<td><%= link_to 'Show', article %></td>
	    <td><%= link_to 'Edit', edit_article_path(article) %></td>
	    <td><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
   </tr> 
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
