<p id="notice"><%= notice %></p>

<p>
  <b>Articlecode:</b>
  <%= @article.article_code %>
</p>

<p>
  <b>Articletext:</b>
  <%= @article.article_text %>
</p>

<p>
  <b>Supplier:</b>
  <%= @article.supplier %>
</p>

<p>
  <b>Box:</b>
  <%= @article.box %>
</p>

<p>
  <b>Minimumofqty:</b>
  <%= @article.minimum_of_qty %>
</p>

<p>
  <b>Stockrisk:</b>
  <%= @article.stock_risk %>
</p>

<p>
  <b>Unitarypriceifbox:</b>
  <%= @article.unitary_price_if_box %>
</p>

<p>
  <b>Unitarypriceifmassive:</b>
  <%= @article.unitary_price_if_massive %>
</p>

<p>
  <b>Sellingpriceincvat:</b>
  <%= @article.selling_price_inc_vat %>
</p>

<p>
  <b>Vatrate:</b>
  <%= @article.vat_rate %>
</p>

<p>
  <b>Estimatedpricedecreaseratio:</b>
  <%= @article.estimated_price_decrease_ratio %>
</p>

<p>
  <b>Endlifedate:</b>
  <%= @article.end_life_date %>
</p>

<p>
  <b>Endlifeoption:</b>
  <%= @article.end_life_option %>
</p>

<p>
  <b>Seasonalitycode:</b>
  <%= @article.seasonality_code %>
</p>

<p>
  <b>Stockqty:</b>
  <%= @article.stock_qty %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
