<head>
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="/js/themes/gray.js"></script>	

</head>
<body>
<h1>Article view</h1>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   		<tr style="background-color:lightgrey;">
	      <th style="width:75px;">Article Code</th> 
	      <th style="width:75px;">Article Text</th> 
	      <th style="width:75px;">Stock</th> 
	      <th style="width:75px;">Supplier</th> 
	      <th style="width:75px;">Box</th> 
	      <th style="width:75px;">Min order qty</th> 
	      <th style="width:75px;">Unit buying price if box</th> 
	      <th style="width:75px;">Unit buying price if massive</th> 
	      <th style="width:75px;">Selling price inc VAT</th> 
	      <th style="width:75px;">VAT rate</th> 
	      <th style="width:75px;">Seasonality</th> 
	      <th style="width:75px;">End life date</th> 
	      <th style="width:75px;">End life option</th> 
	      <th style="width:75px;">Estimated price decrease ratio</th> 
	      <th style="width:75px;">Stock risk</th> 
	      <th style="width:75px;">Creation date</th> 	
		</tr>
			<td><%= @article.article_code %></td>
			<td><%= @article.article_text %></td>
			<td><%= @article.stock_qty %></td>
			<td><%= link_to @article.supplier, Supplier.where(:supplier => @article.supplier).first %></td>
			<td><%= @article.box %></td>
			<td><%= @article.minimum_of_qty %></td>
			<td><%= @article.unitary_price_if_box %></td>
			<td><%= @article.unitary_price_if_massive %></td>
			<td><%= @article.selling_price_inc_vat %></td>
			<td><%= @article.vat_rate %></td>
			<td><%= @article.seasonality_code %></td>			
			<td><%= @article.end_life_date.strftime("%B %d, %Y") %></td>
			<td><%= @article.end_life_option %></td>
			<td><%= @article.estimated_price_decrease_ratio %></td>
			<td><%= @article.stock_risk %></td>
			<td><%= @article.created_at.strftime("%B %d, %Y") %></td>
		</tr>
</table>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back to listing articles', articles_path %>
</br>
</br>
<h1>Performances</h1>
<p>Average sales per day: <%=number_with_precision(@average_sales, :precision =>2)%></p>
<p>Stock lifetime: <%=number_with_precision(@article.stock_qty.to_f / @average_sales.to_f, :precision =>2)%> days</p>
<div id="container" style="width:100%; height:400px;"></div>
</br>

<h1>Sales per day</h1>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;">Article code</th> 
	      <th style="width:150px;">Movement Date</th> 
	      <th style="width:150px;">Turnover: <%= Movement.where(:article_code => @article.article_code).sum("turnover")%></th> 
	      <th style="width:150px;">Quantity: <%= Movement.where(:article_code => @article.article_code).sum("quantity")%></th> 
	      <th style="width:150px;">Stock (end of the day)</th> 
	   </tr> 
	<% @movements.each do |movement| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.article_code%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.movement_date.strftime("%B %d, %Y") %></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.turnover %></td> 
			<td style="padding-left:10px; color:midnightblue;"><%= movement.quantity %></td> 
			<td style="padding-left:10px; color:midnightblue;"><%= @article.stock_qty.to_i + Movement.where(:movement_date => movement.movement_date+1..Date.today, :article_code => movement.article_code).sum("quantity").to_i%></td>
		  </tr>
		<% end %>
</table>

<script>
$(document).ready(function(){
	// Highcharts (see www.highcharts.com)
			var chart;
	        chart = new Highcharts.Chart({
	            chart: {
	                renderTo: 'container',
	                zoomType: 'x',
	                spacingRight: 20
	            },
	            title: {
	                text: 'Overall results'
	            },
	            subtitle: {
	                text: document.ontouchstart === undefined ?
	                    'Click and drag in the plot area to zoom in' :
	                    'Drag your finger over the plot to zoom in'
	            },
	            xAxis: {
	                type: 'datetime',
	                maxZoom: 14 * 24 * 3600000, // fourteen days
	                title: {
	                    text: null
	                }
	            },
	            yAxis: {
	                title: {
	                    text: ''
	                },
	                showFirstLabel: false
	            },
	            tooltip: {
	                shared: true,
					formatter: function(){
						return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + "$" + Highcharts.numberFormat(this.y, 2);
					}
	            },
	            legend: {
	                enabled: true
	            },
	            plotOptions: {
	                area: {
	                    fillColor: {
	                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
	                        stops: [
	                            [0, Highcharts.getOptions().colors[0]],
	                            [1, 'rgba(2,0,0,0)']
	                        ]
	                    },
	                    lineWidth: 1,
	                    marker: {
	                        enabled: false,
	                        states: {
	                            hover: {
	                                enabled: true,
	                                radius: 5
	                            }
	                        }
	                    },
	                    shadow: false,
	                    states: {
	                        hover: {
	                            lineWidth: 1
	                        }
	                    },
	                    threshold: null
	                },
					line: {
						connectNulls: true
					}
	            },

	            series: [{
	                type: 'line',
	                name: 'Turnover',
	                pointInterval: <%= 1.day * 1000%>,
					pointStart: <%= @article.created_at.to_i * 1000%>,
	                data: <%= article_chart_series_to(@article, @article.created_at).to_json %> 
					},
					{
		            type: 'line',
		            name: 'Quantities',
		            pointInterval: <%= 1.day * 1000%>,
					pointStart: <%= @article.created_at.to_i * 1000%>,
		            data: <%= article_chart_series_qty(@movements, @article.created_at).to_json %> 
					},
					{
		            type: 'line',
		            name: 'Stock',
		            pointInterval: <%= 1.day * 1000%>,
					pointStart: <%= @article.created_at.to_i * 1000%>,
		            data: <%= article_chart_series_stock(@article, @article.created_at).to_json %> 
					}
					]
	        });	
});

</script>

</body>

