<%= link_to t(".new"), new_order_path %>
<br />
<hr>
<br/>

<h2><%= t ".title"%></h2>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   <tr style="background-color:lightgrey;"> 
      <th style="width:150px;"><%= sortable "article_code", t("activerecord.attributes.article.article_code")%></th> 
      <th style="width:150px;"><%= sortable "supplier", t("activerecord.attributes.supplier.supplier") %></th> 
      <th style="width:150px;"><%= sortable "quantity", t("activerecord.attributes.movement.quantity")%></th> 
      <th style="width:150px;"><%= sortable "creation_date", t("activerecord.attributes.order.creation_date")%></th> 
      <th style="width:150px;"><%= sortable "expected_delivery_date", t("activerecord.attributes.order.expected_delivery_date")%></th> 
   </tr> 
   <% @orders.each do |order| %>
	<tr> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.article_code %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.supplier %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.quantity %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= order.creation_date %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= order.expected_delivery_date %></td> 
	    <td><%= link_to t("actions.show"), order %></td>
	    <td><%= link_to t("actions.edit"), edit_order_path(order) %></td>
	    <td><%= link_to t("actions.destroy"), order, :method => :delete, :data => { :confirm => t("actions.confirm") } %></td>
  	</tr>
<% end %>
</table>
<br/>
<hr>
<br/>
<h2><%= t "actions.title_import"%></h2>
<p><%= t "actions.import"%></p>
<p><%= t "actions.warning"%></p>
<%= form_tag import_orders_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import"%>
<% end %>
<br />
<%= link_to t("actions.download_order"), url_for(:format=>"xlsx") %>


