<%= link_to 'New Order', new_order_path %>
<br /><br/>

<h1>Listing orders</h1>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   <tr style="background-color:lightgrey;"> 
      <th style="width:150px;"><%= sortable "article_code", "Article code"%></th> 
      <th style="width:150px;"><%= sortable "supplier", "Supplier" %></th> 
      <th style="width:150px;"><%= sortable "quantity", "Quantity"%></th> 
      <th style="width:150px;"><%= sortable "creation_date", "Creation Date"%></th> 
      <th style="width:150px;"><%= sortable "expected_delivery_date", "Expected delivery date"%></th> 
   </tr> 
   <% @orders.each do |order| %>
	<tr> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.article_code %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.supplier %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= order.quantity %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= order.creation_date %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= order.expected_delivery_date %></td> 
	    <td><%= link_to 'Show', order %></td>
	    <td><%= link_to 'Edit', edit_order_path(order) %></td>
	    <td><%= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  	</tr>
<% end %>
</table>



