<p id="notice"><%= notice %></p>

<p>
  <b><%= t "activerecord.attributes.order.article_code"%> :</b>
  <%= @order.article_code %>
</p>

<p>
  <b><%= t "activerecord.attributes.order.supplier"%> :</b>
  <%= @order.supplier %>
</p>

<p>
  <b><%= t "activerecord.attributes.order.quantity"%> :</b>
  <%= @order.quantity %>
</p>

<p>
  <b><%= t "actions.created_at"%> :</b>
  <%= @order.creation_date %>
</p>

<p>
  <b><%= t "activerecord.attributes.order.expected_delivery_date"%> :</b>
  <%= @order.expected_delivery_date %>
</p>


<%= link_to t("actions.edit"), edit_order_path(@order) %> |
<%= link_to t("actions.back"), orders_path %>
