<head>
<title><%= t ".title"%></title>
<meta name="description=" content=<%= t ".meta"%>>

<%= csrf_meta_tag %>
</head>
<hr>
<h2><%= t ".title_page"%></h2>
<p><%= t ".line1"%></p>
	<dd><dd<dd><button style="width:150px; height:50px; font-size:18px"> <%= link_to t(".beta_testers_button"), new_user_registration_path %></button></dd></dd></dd>
<br/>
<p><%= t ".line2"%><p>
<br/>
<hr>
<h2><%= t ".line3"%></h2>
<h4><%= t ".line4"%></h4>
<dd>Apt A3, résidence Giverny</dd>
<dd>1 boulevard de Douai</dd>
<dd>59100 Roubaix</dd>
<dd>France</dd>
<br/>
<h4>Email : contact@efficient-inventory.com</h4>
<br/>
<h4><%= t ".line5"%></h4>
<dd>SIRET : 792 195 620 00010</dd>

<script type="text/javascript">
$(document).ready(function(){

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39365733-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
});
</script>
