<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
</head>
<body>
<%= form_for(@seasonality) do |f| %>
  <% if @seasonality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seasonality.errors.count, "error") %> prohibited this seasonality from being saved:</h2>

      <ul>
      <% @seasonality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seasonality %><br />
    <%= f.text_field :seasonality %>
  </div>
	</br>
<div id="apnd">	
	<div>
	<input type="range" min="0" max="100" name="slider1">
	<input type="range" min="0" max="100" name="slider2">
	<input type="range" min="0" max="100" name="slider3">
	<input type="range" min="0" max="100" name="slider4">
	<input type="range" min="0" max="100" name="slider5">
	<input type="range" min="0" max="100" name="slider6">
	<input type="range" min="0" max="100" name="slider7">
	<input type="range" min="0" max="100" name="slider8">
	<input type="range" min="0" max="100" name="slider9">
	<input type="range" min="0" max="100" name="slider10">
	<input type="range" min="0" max="100" name="slider11">
	<input type="range" min="0" max="100" name="slider12">
	<input type="range" min="0" max="100" name="slider13">
	<input type="range" min="0" max="100" name="slider14">
	<input type="range" min="0" max="100" name="slider15">
	<input type="range" min="0" max="100" name="slider16">
	<input type="range" min="0" max="100" name="slider17">
	<input type="range" min="0" max="100" name="slider18">
	<input type="range" min="0" max="100" name="slider19">
	<input type="range" min="0" max="100" name="slider20">
	<input type="range" min="0" max="100" name="slider21">
	<input type="range" min="0" max="100" name="slider22">
	<input type="range" min="0" max="100" name="slider23">
	<input type="range" min="0" max="100" name="slider24">
	<input type="range" min="0" max="100" name="slider25">
	<input type="range" min="0" max="100" name="slider26">
	<input type="range" min="0" max="100" name="slider27">
	<input type="range" min="0" max="100" name="slider28">
	<input type="range" min="0" max="100" name="slider29">
	<input type="range" min="0" max="100" name="slider30">
	<input type="range" min="0" max="100" name="slider31">
	<input type="range" min="0" max="100" name="slider32">
	<input type="range" min="0" max="100" name="slider33">
	<input type="range" min="0" max="100" name="slider34">
	<input type="range" min="0" max="100" name="slider35">
	<input type="range" min="0" max="100" name="slider36">
	<input type="range" min="0" max="100" name="slider37">
	<input type="range" min="0" max="100" name="slider38">
	<input type="range" min="0" max="100" name="slider39">
	<input type="range" min="0" max="100" name="slider40">
	<input type="range" min="0" max="100" name="slider41">
	<input type="range" min="0" max="100" name="slider42">
	<input type="range" min="0" max="100" name="slider43">
	<input type="range" min="0" max="100" name="slider44">
	<input type="range" min="0" max="100" name="slider45">
	<input type="range" min="0" max="100" name="slider46">
	<input type="range" min="0" max="100" name="slider47">
	<input type="range" min="0" max="100" name="slider48">
	<input type="range" min="0" max="100" name="slider49">
	<input type="range" min="0" max="100" name="slider50">
	<input type="range" min="0" max="100" name="slider51">
	<input type="range" min="0" max="100" name="slider52">
	<input type="range" min="0" max="100" name="slider53">
	</div>
	<div>W1 W2
	<div>W2</div>
	<div>W3</div>
	<div>W4</div>
	<div>W5</div>
</div>
</br>
<div size="1"; value="12"; id="W3"></div>




  <div class="field">
    <%= f.label :w1 %><br />
    <%= f.text_field :w1 %>
  </div>
  <div class="field">
    <%= f.label :w2 %><br />
    <%= f.text_field :w2 %>
  </div>
  <div class="field">
    <%= f.label :w3 %><br />
    <%= f.text_field :w3 %>
  </div>
  <div class="field">
    <%= f.label :w4 %><br />
    <%= f.text_field :w4 %>
  </div>
  <div class="field">
    <%= f.label :w5 %><br />
    <%= f.text_field :w5 %>
  </div>
  <div class="field">
    <%= f.label :w6 %><br />
    <%= f.text_field :w6 %>
  </div>
  <div class="field">
    <%= f.label :w7 %><br />
    <%= f.text_field :w7 %>
  </div>
  <div class="field">
    <%= f.label :w8 %><br />
    <%= f.text_field :w8 %>
  </div>
  <div class="field">
    <%= f.label :w9 %><br />
    <%= f.text_field :w9 %>
  </div>
  <div class="field">
    <%= f.label :w10 %><br />
    <%= f.text_field :w10 %>
  </div>
  <div class="field">
    <%= f.label :w11 %><br />
    <%= f.text_field :w11 %>
  </div>
  <div class="field">
    <%= f.label :w12 %><br />
    <%= f.text_field :w12 %>
  </div>
  <div class="field">
    <%= f.label :w13 %><br />
    <%= f.text_field :w13 %>
  </div>
  <div class="field">
    <%= f.label :w14 %><br />
    <%= f.text_field :w14 %>
  </div>
  <div class="field">
    <%= f.label :w15 %><br />
    <%= f.text_field :w15 %>
  </div>
  <div class="field">
    <%= f.label :w16 %><br />
    <%= f.text_field :w16 %>
  </div>
  <div class="field">
    <%= f.label :w17 %><br />
    <%= f.text_field :w17 %>
  </div>
  <div class="field">
    <%= f.label :w18 %><br />
    <%= f.text_field :w18 %>
  </div>
  <div class="field">
    <%= f.label :w19 %><br />
    <%= f.text_field :w19 %>
  </div>
  <div class="field">
    <%= f.label :w20 %><br />
    <%= f.text_field :w20 %>
  </div>
  <div class="field">
    <%= f.label :w21 %><br />
    <%= f.text_field :w21 %>
  </div>
  <div class="field">
    <%= f.label :w22 %><br />
    <%= f.text_field :w22 %>
  </div>
  <div class="field">
    <%= f.label :w23 %><br />
    <%= f.text_field :w23 %>
  </div>
  <div class="field">
    <%= f.label :w24 %><br />
    <%= f.text_field :w24 %>
  </div>
  <div class="field">
    <%= f.label :w25 %><br />
    <%= f.text_field :w25 %>
  </div>
  <div class="field">
    <%= f.label :w26 %><br />
    <%= f.text_field :w26 %>
  </div>
  <div class="field">
    <%= f.label :w27 %><br />
    <%= f.text_field :w27 %>
  </div>
  <div class="field">
    <%= f.label :w28 %><br />
    <%= f.text_field :w28 %>
  </div>
  <div class="field">
    <%= f.label :w29 %><br />
    <%= f.text_field :w29 %>
  </div>
  <div class="field">
    <%= f.label :w30 %><br />
    <%= f.text_field :w30 %>
  </div>
  <div class="field">
    <%= f.label :w31 %><br />
    <%= f.text_field :w31 %>
  </div>
  <div class="field">
    <%= f.label :w32 %><br />
    <%= f.text_field :w32 %>
  </div>
  <div class="field">
    <%= f.label :w33 %><br />
    <%= f.text_field :w33 %>
  </div>
  <div class="field">
    <%= f.label :w34 %><br />
    <%= f.text_field :w34 %>
  </div>
  <div class="field">
    <%= f.label :w35 %><br />
    <%= f.text_field :w35 %>
  </div>
  <div class="field">
    <%= f.label :w36 %><br />
    <%= f.text_field :w36 %>
  </div>
  <div class="field">
    <%= f.label :w37 %><br />
    <%= f.text_field :w37 %>
  </div>
  <div class="field">
    <%= f.label :w38 %><br />
    <%= f.text_field :w38 %>
  </div>
  <div class="field">
    <%= f.label :w39 %><br />
    <%= f.text_field :w39 %>
  </div>
  <div class="field">
    <%= f.label :w40 %><br />
    <%= f.text_field :w40 %>
  </div>
  <div class="field">
    <%= f.label :w41 %><br />
    <%= f.text_field :w41 %>
  </div>
  <div class="field">
    <%= f.label :w42 %><br />
    <%= f.text_field :w42 %>
  </div>
  <div class="field">
    <%= f.label :w43 %><br />
    <%= f.text_field :w43 %>
  </div>
  <div class="field">
    <%= f.label :w44 %><br />
    <%= f.text_field :w44 %>
  </div>
  <div class="field">
    <%= f.label :w45 %><br />
    <%= f.text_field :w45 %>
  </div>
  <div class="field">
    <%= f.label :w46 %><br />
    <%= f.text_field :w46 %>
  </div>
  <div class="field">
    <%= f.label :w47 %><br />
    <%= f.text_field :w47 %>
  </div>
  <div class="field">
    <%= f.label :w48 %><br />
    <%= f.text_field :w48 %>
  </div>
  <div class="field">
    <%= f.label :w49 %><br />
    <%= f.text_field :w49 %>
  </div>
  <div class="field">
    <%= f.label :w50 %><br />
    <%= f.text_field :w50 %>
  </div>
  <div class="field">
    <%= f.label :w51 %><br />
    <%= f.text_field :w51 %>
  </div>
  <div class="field">
    <%= f.label :w52 %><br />
    <%= f.text_field :w52 %>
  </div>
  <div class="field">
    <%= f.label :w53 %><br />
    <%= f.text_field :w53 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function(){
		$( "#slider1" ).height(400);
		$( "#slider1" ).slider({
			min:0,
			max:100,
			orientation:"vertical",
			slide: function(event, ui){
				$("#W1").text(ui.value);
			}	
		});
		
		$( "#slider2" ).height(400);
		$( "#slider2" ).slider({
			min:0,
			max:100,
			orientation:"vertical",
			slide: function(event, ui){
				$("#W2").text(ui.value);
			}	
		});
		
		$( "#slider3" ).height(400);
		$( "#slider3" ).slider({
			min:0,
			max:100,
			orientation:"vertical",
			slide: function(event, ui){
				$("#W3").text(ui.value);
			}	
		});
});
</script>
</body>
