<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
</head>
<body>
<%= form_for(@seasonality) do |f| %>
  <% if @seasonality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seasonality.errors.count, "error") %> prohibited this seasonality from being saved:</h2>

      <ul>
      <% @seasonality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seasonality, "Seasonality title" %><br />
    <%= f.text_field :seasonality %>
  </div>
	</br>

	<table width="1000px">
		<tr>
			<td><%= f.range_field :w1, :min=>-300, :max=>300, :class=>"slide", :id=>"slider1"%></td>
			<td><%= f.range_field :w2, :min=>-300, :max=>300, :class=>"slide", :id=>"slider2"%></td>
			<td><%= f.range_field :w3, :min=>-300, :max=>300, :class=>"slide", :id=>"slider3"%></td>
			<td><%= f.range_field :w4, :min=>-300, :max=>300, :class=>"slide", :id=>"slider4"%></td>
			<td><%= f.range_field :w5, :min=>-300, :max=>300, :class=>"slide", :id=>"slider5"%></td>
			<td><%= f.range_field :w6, :min=>-300, :max=>300, :class=>"slide", :id=>"slider6"%></td>
			<td><%= f.range_field :w7, :min=>-300, :max=>300, :class=>"slide", :id=>"slider7"%></td>
			<td><%= f.range_field :w8, :min=>-300, :max=>300, :class=>"slide", :id=>"slider8"%></td>
			<td><%= f.range_field :w9, :min=>-300, :max=>300, :class=>"slide", :id=>"slider9"%></td>
			<td><%= f.range_field :w10, :min=>-300, :max=>300, :class=>"slide", :id=>"slider10"%></td>
			<td><%= f.range_field :w11, :min=>-300, :max=>300, :class=>"slide", :id=>"slider11"%></td>
			<td><%= f.range_field :w12, :min=>-300, :max=>300, :class=>"slide", :id=>"slider12"%></td>
			<td><%= f.range_field :w13, :min=>-300, :max=>300, :class=>"slide", :id=>"slider13"%></td>
			<td><%= f.range_field :w14, :min=>-300, :max=>300, :class=>"slide", :id=>"slider14"%></td>
			<td><%= f.range_field :w15, :min=>-300, :max=>300, :class=>"slide", :id=>"slider15"%></td>
			<td><%= f.range_field :w16, :min=>-300, :max=>300, :class=>"slide", :id=>"slider16"%></td>
			<td><%= f.range_field :w17, :min=>-300, :max=>300, :class=>"slide", :id=>"slider17"%></td>
			<td><%= f.range_field :w18, :min=>-300, :max=>300, :class=>"slide", :id=>"slider18"%></td>
			<td><%= f.range_field :w19, :min=>-300, :max=>300, :class=>"slide", :id=>"slider19"%></td>
			<td><%= f.range_field :w20, :min=>-300, :max=>300, :class=>"slide", :id=>"slider20"%></td>			
			<td><%= f.range_field :w21, :min=>-300, :max=>300, :class=>"slide", :id=>"slider21"%></td>
			<td><%= f.range_field :w22, :min=>-300, :max=>300, :class=>"slide", :id=>"slider22"%></td>
			<td><%= f.range_field :w23, :min=>-300, :max=>300, :class=>"slide", :id=>"slider23"%></td>
			<td><%= f.range_field :w24, :min=>-300, :max=>300, :class=>"slide", :id=>"slider24"%></td>
			<td><%= f.range_field :w25, :min=>-300, :max=>300, :class=>"slide", :id=>"slider25"%></td>
			<td><%= f.range_field :w26, :min=>-300, :max=>300, :class=>"slide", :id=>"slider26"%></td>
			<td><%= f.range_field :w27, :min=>-300, :max=>300, :class=>"slide", :id=>"slider27"%></td>
			<td><%= f.range_field :w28, :min=>-300, :max=>300, :class=>"slide", :id=>"slider28"%></td>
			<td><%= f.range_field :w29, :min=>-300, :max=>300, :class=>"slide", :id=>"slider29"%></td>
			<td><%= f.range_field :w30, :min=>-300, :max=>300, :class=>"slide", :id=>"slider30"%></td>
			<td><%= f.range_field :w31, :min=>-300, :max=>300, :class=>"slide", :id=>"slider31"%></td>
			<td><%= f.range_field :w32, :min=>-300, :max=>300, :class=>"slide", :id=>"slider32"%></td>
			<td><%= f.range_field :w33, :min=>-300, :max=>300, :class=>"slide", :id=>"slider33"%></td>
			<td><%= f.range_field :w34, :min=>-300, :max=>300, :class=>"slide", :id=>"slider34"%></td>
			<td><%= f.range_field :w35, :min=>-300, :max=>300, :class=>"slide", :id=>"slider35"%></td>
			<td><%= f.range_field :w36, :min=>-300, :max=>300, :class=>"slide", :id=>"slider36"%></td>
			<td><%= f.range_field :w37, :min=>-300, :max=>300, :class=>"slide", :id=>"slider37"%></td>
			<td><%= f.range_field :w38, :min=>-300, :max=>300, :class=>"slide", :id=>"slider38"%></td>
			<td><%= f.range_field :w39, :min=>-300, :max=>300, :class=>"slide", :id=>"slider39"%></td>
			<td><%= f.range_field :w40, :min=>-300, :max=>300, :class=>"slide", :id=>"slider40"%></td>
			<td><%= f.range_field :w41, :min=>-300, :max=>300, :class=>"slide", :id=>"slider41"%></td>
			<td><%= f.range_field :w42, :min=>-300, :max=>300, :class=>"slide", :id=>"slider42"%></td>
			<td><%= f.range_field :w43, :min=>-300, :max=>300, :class=>"slide", :id=>"slider43"%></td>
			<td><%= f.range_field :w44, :min=>-300, :max=>300, :class=>"slide", :id=>"slider44"%></td>
			<td><%= f.range_field :w45, :min=>-300, :max=>300, :class=>"slide", :id=>"slider45"%></td>
			<td><%= f.range_field :w46, :min=>-300, :max=>300, :class=>"slide", :id=>"slider46"%></td>
			<td><%= f.range_field :w47, :min=>-300, :max=>300, :class=>"slide", :id=>"slider47"%></td>
			<td><%= f.range_field :w48, :min=>-300, :max=>300, :class=>"slide", :id=>"slider48"%></td>
			<td><%= f.range_field :w49, :min=>-300, :max=>300, :class=>"slide", :id=>"slider49"%></td>
			<td><%= f.range_field :w50, :min=>-300, :max=>300, :class=>"slide", :id=>"slider50"%></td>
			<td><%= f.range_field :w51, :min=>-300, :max=>300, :class=>"slide", :id=>"slider51"%></td>
			<td><%= f.range_field :w52, :min=>-300, :max=>300, :class=>"slide", :id=>"slider52"%></td>
			<td><%= f.range_field :w53, :min=>-300, :max=>300, :class=>"slide", :id=>"slider53"%></td>
		</tr>
		<tr>
			<td><text id="W1">0</text></td>
			<td><text id="W2">0</text></td>
			<td><text id="W3">0</text></td>
			<td><text id="W4">0</text></td>
			<td><text id="W5">0</text></td>
			<td><text id="W6">0</text></td>
			<td><text id="W7">0</text></td>
			<td><text id="W8">0</text></td>
			<td><text id="W9">0</text></td>
			<td><text id="W10">0</text></td>
			<td><text id="W11">0</text></td>
			<td><text id="W12">0</text></td>
			<td><text id="W13">0</text></td>
			<td><text id="W14">0</text></td>
			<td><text id="W15">0</text></td>
			<td><text id="W16">0</text></td>
			<td><text id="W17">0</text></td>
			<td><text id="W18">0</text></td>
			<td><text id="W19">0</text></td>
			<td><text id="W20">0</text></td>
			<td><text id="W21">0</text></td>
			<td><text id="W22">0</text></td>
			<td><text id="W23">0</text></td>
			<td><text id="W24">0</text></td>
			<td><text id="W25">0</text></td>
			<td><text id="W26">0</text></td>
			<td><text id="W27">0</text></td>
			<td><text id="W28">0</text></td>
			<td><text id="W29">0</text></td>
			<td><text id="W30">0</text></td>
			<td><text id="W31">0</text></td>
			<td><text id="W32">0</text></td>
			<td><text id="W33">0</text></td>
			<td><text id="W34">0</text></td>
			<td><text id="W35">0</text></td>
			<td><text id="W36">0</text></td>
			<td><text id="W37">0</text></td>
			<td><text id="W38">0</text></td>
			<td><text id="W39">0</text></td>
			<td><text id="W40">0</text></td>
			<td><text id="W41">0</text></td>
			<td><text id="W42">0</text></td>
			<td><text id="W43">0</text></td>
			<td><text id="W44">0</text></td>
			<td><text id="W45">0</text></td>
			<td><text id="W46">0</text></td>
			<td><text id="W47">0</text></td>
			<td><text id="W48">0</text></td>
			<td><text id="W49">0</text></td>
			<td><text id="W0">0</text></td>
			<td><text id="W51">0</text></td>
			<td><text id="W52">0</text></td>
			<td><text id="W53">0</text></td>
		</tr>
		<tr>
			<% @a=*(1..53)%>
			<% @a.each do |a|%>
			<td>W<%=a%></td>
			<%end%>
		</tr>
	</table>
	
</br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function(){
	
	$("#slider1").change(function () {                    
	   var newValue = $('#slider1').val();
	   $("#W1").html(newValue);		
	});
	$("#slider2").change(function () {                    
	   var newValue = $('#slider2').val();
	   $("#W2").html(newValue);
	});
	$("#slider3").change(function () {                    
	   var newValue = $('#slider3').val();
	   $("#W3").html(newValue);
	});
	$("#slider4").change(function () {                    
	   var newValue = $('#slider4').val();
	   $("#W4").html(newValue);
	});
	$("#slider5").change(function () {                    
	   var newValue = $('#slider5').val();
	   $("#W5").html(newValue);
	});	
	$("#slider6").change(function () {                    
	   var newValue = $('#slider6').val();
	   $("#W6").html(newValue);
	});
	$("#slider7").change(function () {                    
	   var newValue = $('#slider7').val();
	   $("#W7").html(newValue);
	});
	$("#slider8").change(function () {                    
	   var newValue = $('#slider8').val();
	   $("#W8").html(newValue);
	});
	$("#slider9").change(function () {                    
	   var newValue = $('#slider9').val();
	   $("#W9").html(newValue);
	});
	$("#slider10").change(function () {                    
	   var newValue = $('#slider10').val();
	   $("#W10").html(newValue);
	});
	$("#slider11").change(function () {                    
	   var newValue = $('#slider11').val();
	   $("#W11").html(newValue);
	});
	$("#slider12").change(function () {                    
	   var newValue = $('#slider12').val();
	   $("#W12").html(newValue);
	});
	$("#slider13").change(function () {                    
	   var newValue = $('#slider13').val();
	   $("#W13").html(newValue);
	});
	$("#slider14").change(function () {                    
	   var newValue = $('#slider14').val();
	   $("#W14").html(newValue);
	});
	$("#slider15").change(function () {                    
	   var newValue = $('#slider15').val();
	   $("#W15").html(newValue);
	});	
	$("#slider16").change(function () {                    
	   var newValue = $('#slider16').val();
	   $("#W16").html(newValue);
	});
	$("#slider17").change(function () {                    
	   var newValue = $('#slider17').val();
	   $("#W17").html(newValue);
	});
	$("#slider18").change(function () {                    
	   var newValue = $('#slider18').val();
	   $("#W18").html(newValue);
	});
	$("#slider19").change(function () {                    
	   var newValue = $('#slider19').val();
	   $("#W19").html(newValue);
	});
	$("#slider20").change(function () {                    
	   var newValue = $('#slider20').val();
	   $("#W20").html(newValue);
	});
	$("#slider21").change(function () {                    
	   var newValue = $('#slider21').val();
	   $("#W21").html(newValue);
	});
	$("#slider22").change(function () {                    
	   var newValue = $('#slider22').val();
	   $("#W22").html(newValue);
	});
	$("#slider23").change(function () {                    
	   var newValue = $('#slider23').val();
	   $("#W23").html(newValue);
	});
	$("#slider24").change(function () {                    
	   var newValue = $('#slider24').val();
	   $("#W24").html(newValue);
	});
	$("#slider25").change(function () {                    
	   var newValue = $('#slider25').val();
	   $("#W25").html(newValue);
	});	
	$("#slider26").change(function () {                    
	   var newValue = $('#slider26').val();
	   $("#W26").html(newValue);
	});
	$("#slider27").change(function () {                    
	   var newValue = $('#slider27').val();
	   $("#W27").html(newValue);
	});
	$("#slider28").change(function () {                    
	   var newValue = $('#slider28').val();
	   $("#W28").html(newValue);
	});
	$("#slider29").change(function () {                    
	   var newValue = $('#slider29').val();
	   $("#W29").html(newValue);
	});
	$("#slider30").change(function () {                    
	   var newValue = $('#slider30').val();
	   $("#W30").html(newValue);
	});
	$("#slider31").change(function () {                    
	   var newValue = $('#slider31').val();
	   $("#W31").html(newValue);
	});
	$("#slider32").change(function () {                    
	   var newValue = $('#slider32').val();
	   $("#W32").html(newValue);
	});
	$("#slider33").change(function () {                    
	   var newValue = $('#slider33').val();
	   $("#W33").html(newValue);
	});
	$("#slider34").change(function () {                    
	   var newValue = $('#slider34').val();
	   $("#W34").html(newValue);
	});
	$("#slider35").change(function () {                    
	   var newValue = $('#slider35').val();
	   $("#W35").html(newValue);
	});	
	$("#slider36").change(function () {                    
	   var newValue = $('#slider36').val();
	   $("#W36").html(newValue);
	});
	$("#slider37").change(function () {                    
	   var newValue = $('#slider37').val();
	   $("#W37").html(newValue);
	});
	$("#slider38").change(function () {                    
	   var newValue = $('#slider38').val();
	   $("#W38").html(newValue);
	});
	$("#slider39").change(function () {                    
	   var newValue = $('#slider39').val();
	   $("#W39").html(newValue);
	});
	$("#slider40").change(function () {                    
	   var newValue = $('#slider40').val();
	   $("#W40").html(newValue);
	});
	$("#slider41").change(function () {                    
	   var newValue = $('#slider41').val();
	   $("#W41").html(newValue);
	});
	$("#slider42").change(function () {                    
	   var newValue = $('#slider42').val();
	   $("#W42").html(newValue);
	});
	$("#slider43").change(function () {                    
	   var newValue = $('#slider43').val();
	   $("#W43").html(newValue);
	});
	$("#slider44").change(function () {                    
	   var newValue = $('#slider44').val();
	   $("#W44").html(newValue);
	});
	$("#slider45").change(function () {                    
	   var newValue = $('#slider45').val();
	   $("#W45").html(newValue);
	});	
	$("#slider46").change(function () {                    
	   var newValue = $('#slider46').val();
	   $("#W46").html(newValue);
	});
	$("#slider47").change(function () {                    
	   var newValue = $('#slider47').val();
	   $("#W47").html(newValue);
	});
	$("#slider48").change(function () {                    
	   var newValue = $('#slider48').val();
	   $("#W48").html(newValue);
	});
	$("#slider49").change(function () {                    
	   var newValue = $('#slider49').val();
	   $("#W49").html(newValue);
	});
	$("#slider50").change(function () {                    
	   var newValue = $('#slider50').val();
	   $("#W50").html(newValue);
	});
	$("#slider51").change(function () {                    
	   var newValue = $('#slider51').val();
	   $("#W51").html(newValue);
	});
	$("#slider52").change(function () {                    
	   var newValue = $('#slider52').val();
	   $("#W52").html(newValue);
	});
	$("#slider53").change(function () {                    
	   var newValue = $('#slider53').val();
	   $("#W53").html(newValue);
	});
	
});
</script>
</body>
