<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
</head>
<body>
<%= form_for(@seasonality) do |f| %>
  <% if @seasonality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seasonality.errors.count, "error") %> prohibited this seasonality from being saved:</h2>

      <ul>
      <% @seasonality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seasonality, "Seasonality title" %><br />
    <%= f.text_field :seasonality %>
  </div>
	</br>
	
	<table>
		<tr>
			<div class="slide"><th><input type="range" min="0" max="100" id="slider1"></th></div>
		</tr>
	</table>
	
	<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px" >		
		<tr>
			
	<th><input type="range" min="0" max="100" id="slider2"></th>
	<th><input type="range" min="0" max="100" id="slider3"></th>
	<th><input type="range" min="0" max="100" id="slider4"></th>
	<th><input type="range" min="0" max="100" id="slider5"></th>
	<th><input type="range" min="0" max="100" id="slider6"></th>
	<th><input type="range" min="0" max="100" id="slider7"></th>
	<th><input type="range" min="0" max="100" id="slider8"></th>
	<th><input type="range" min="0" max="100" id="slider9"></th>
	<th><input type="range" min="0" max="100" id="slider10"></th>
	<th><input type="range" min="0" max="100" id="slider11"></th>
	<th><input type="range" min="0" max="100" id="slider12"></th>
	<th><input type="range" min="0" max="100" id="slider13"></th>
	<th><input type="range" min="0" max="100" id="slider14"></th>
	<th><input type="range" min="0" max="100" id="slider15"></th>
	<th><input type="range" min="0" max="100" id="slider16"></th>
	<th><input type="range" min="0" max="100" id="slider17"></th>
	<th><input type="range" min="0" max="100" id="slider18"></th>
	<th><input type="range" min="0" max="100" id="slider19"></th>
	<th><input type="range" min="0" max="100" id="slider20"></th>
	<th><input type="range" min="0" max="100" id="slider21"></th>
	<th><input type="range" min="0" max="100" id="slider22"></th>
	<th><input type="range" min="0" max="100" id="slider23"></th>
	<th><input type="range" min="0" max="100" id="slider24"></th>
	<th><input type="range" min="0" max="100" id="slider25"></th>
	<th><input type="range" min="0" max="100" id="slider26"></th>
	<th><input type="range" min="0" max="100" id="slider27"></th>
	<th><input type="range" min="0" max="100" id="slider28"></th>
	<th><input type="range" min="0" max="100" id="slider29"></th>
	<th><input type="range" min="0" max="100" id="slider30"></th>
	<th><input type="range" min="0" max="100" id="slider31"></th>
	<th><input type="range" min="0" max="100" id="slider32"></th>
	<th><input type="range" min="0" max="100" id="slider33"></th>
	<th><input type="range" min="0" max="100" id="slider34"></th>
	<th><input type="range" min="0" max="100" id="slider35"></th>
	<th><input type="range" min="0" max="100" id="slider36"></th>
	<th><input type="range" min="0" max="100" id="slider37"></th>
	<th><input type="range" min="0" max="100" id="slider38"></th>
	<th><input type="range" min="0" max="100" id="slider39"></th>
	<th><input type="range" min="0" max="100" id="slider40"></th>
	<th><input type="range" min="0" max="100" id="slider41"></th>
	<th><input type="range" min="0" max="100" id="slider42"></th>
	<th><input type="range" min="0" max="100" id="slider43"></th>
	<th><input type="range" min="0" max="100" id="slider44"></th>
	<th><input type="range" min="0" max="100" id="slider45"></th>
	<th><input type="range" min="0" max="100" id="slider46"></th>
	<th><input type="range" min="0" max="100" id="slider47"></th>
	<th><input type="range" min="0" max="100" id="slider48"></th>
	<th><input type="range" min="0" max="100" id="slider49"></th>
	<th><input type="range" min="0" max="100" id="slider50"></th>
	<th><input type="range" min="0" max="100" id="slider51"></th>
	<th><input type="range" min="0" max="100" id="slider52"></th>
	<th><input type="range" min="0" max="100" id="slider53"></th>
	</tr>
	</div>
	</table>
<hr size=5 width=20% align=left>	
		<text id="W1">50 |</text>
		<text id="W2">50 |</text>
		<text id="W3">50 |</text>
		<text id="W4">50 |</text>
		<text id="W5">50 |</text>
		<text id="W6">50 |</text>
		<text id="W7">50 |</text>
		<text id="W8">50 |</text>
		<text id="W9">50 |</text>
		<text id="W10">50</text>
		<text id="W11">50</text>
		<text id="W12">50</text>
		<text id="W13">50</text>
		<text id="W14">50</text>
		<text id="W15">50</text>
		<text id="W16">50</text>
		<text id="W17">50</text>
		<text id="W18">50</text>
		<text id="W19">50</text>
		<text id="W20">50</text>
		<text id="W21">50</text>
		<text id="W22">50</text>
		<text id="W23">50</text>
		<text id="W24">50</text>
		<text id="W25">50</text>
		<text id="W26">50</text>
		<text id="W27">50</text>
		<text id="W28">50</text>
		<text id="W29">50</text>
		<text id="W30">50</text>
		<text id="W31">50</text>
		<text id="W32">50</text>
		<text id="W33">50</text>
		<text id="W34">50</text>
		<text id="W35">50</text>
		<text id="W36">50</text>
		<text id="W37">50</text>
		<text id="W38">50</text>
		<text id="W39">50</text>
		<text id="W40">50</text>
		<text id="W41">50</text>
		<text id="W42">50</text>
		<text id="W43">50</text>
		<text id="W44">50</text>
		<text id="W45">50</text>
		<text id="W46">50</text>
		<text id="W47">50</text>
		<text id="W48">50</text>
		<text id="W49">50</text>
		<text id="W50">50</text>
		<text id="W51">50</text>
		<text id="W52">50</text>
		<text id="W53">50</text>
<p>01 02 03 04 05 06 07 08 09 10</p>
</br>

  <div class="field">
    <%= f.label :w1 %><br />
    <%= f.text_field :w1 %>
  </div>
  <div class="field">
    <%= f.label :w2 %><br />
    <%= f.text_field :w2 %>
  </div>
  <div class="field">
    <%= f.label :w3 %><br />
    <%= f.text_field :w3 %>
  </div>
  <div class="field">
    <%= f.label :w4 %><br />
    <%= f.text_field :w4 %>
  </div>
  <div class="field">
    <%= f.label :w5 %><br />
    <%= f.text_field :w5 %>
  </div>
  <div class="field">
    <%= f.label :w6 %><br />
    <%= f.text_field :w6 %>
  </div>
  <div class="field">
    <%= f.label :w7 %><br />
    <%= f.text_field :w7 %>
  </div>
  <div class="field">
    <%= f.label :w8 %><br />
    <%= f.text_field :w8 %>
  </div>
  <div class="field">
    <%= f.label :w9 %><br />
    <%= f.text_field :w9 %>
  </div>
  <div class="field">
    <%= f.label :w10 %><br />
    <%= f.text_field :w10 %>
  </div>
  <div class="field">
    <%= f.label :w11 %><br />
    <%= f.text_field :w11 %>
  </div>
  <div class="field">
    <%= f.label :w12 %><br />
    <%= f.text_field :w12 %>
  </div>
  <div class="field">
    <%= f.label :w13 %><br />
    <%= f.text_field :w13 %>
  </div>
  <div class="field">
    <%= f.label :w14 %><br />
    <%= f.text_field :w14 %>
  </div>
  <div class="field">
    <%= f.label :w15 %><br />
    <%= f.text_field :w15 %>
  </div>
  <div class="field">
    <%= f.label :w16 %><br />
    <%= f.text_field :w16 %>
  </div>
  <div class="field">
    <%= f.label :w17 %><br />
    <%= f.text_field :w17 %>
  </div>
  <div class="field">
    <%= f.label :w18 %><br />
    <%= f.text_field :w18 %>
  </div>
  <div class="field">
    <%= f.label :w19 %><br />
    <%= f.text_field :w19 %>
  </div>
  <div class="field">
    <%= f.label :w20 %><br />
    <%= f.text_field :w20 %>
  </div>
  <div class="field">
    <%= f.label :w21 %><br />
    <%= f.text_field :w21 %>
  </div>
  <div class="field">
    <%= f.label :w22 %><br />
    <%= f.text_field :w22 %>
  </div>
  <div class="field">
    <%= f.label :w23 %><br />
    <%= f.text_field :w23 %>
  </div>
  <div class="field">
    <%= f.label :w24 %><br />
    <%= f.text_field :w24 %>
  </div>
  <div class="field">
    <%= f.label :w25 %><br />
    <%= f.text_field :w25 %>
  </div>
  <div class="field">
    <%= f.label :w26 %><br />
    <%= f.text_field :w26 %>
  </div>
  <div class="field">
    <%= f.label :w27 %><br />
    <%= f.text_field :w27 %>
  </div>
  <div class="field">
    <%= f.label :w28 %><br />
    <%= f.text_field :w28 %>
  </div>
  <div class="field">
    <%= f.label :w29 %><br />
    <%= f.text_field :w29 %>
  </div>
  <div class="field">
    <%= f.label :w30 %><br />
    <%= f.text_field :w30 %>
  </div>
  <div class="field">
    <%= f.label :w31 %><br />
    <%= f.text_field :w31 %>
  </div>
  <div class="field">
    <%= f.label :w32 %><br />
    <%= f.text_field :w32 %>
  </div>
  <div class="field">
    <%= f.label :w33 %><br />
    <%= f.text_field :w33 %>
  </div>
  <div class="field">
    <%= f.label :w34 %><br />
    <%= f.text_field :w34 %>
  </div>
  <div class="field">
    <%= f.label :w35 %><br />
    <%= f.text_field :w35 %>
  </div>
  <div class="field">
    <%= f.label :w36 %><br />
    <%= f.text_field :w36 %>
  </div>
  <div class="field">
    <%= f.label :w37 %><br />
    <%= f.text_field :w37 %>
  </div>
  <div class="field">
    <%= f.label :w38 %><br />
    <%= f.text_field :w38 %>
  </div>
  <div class="field">
    <%= f.label :w39 %><br />
    <%= f.text_field :w39 %>
  </div>
  <div class="field">
    <%= f.label :w40 %><br />
    <%= f.text_field :w40 %>
  </div>
  <div class="field">
    <%= f.label :w41 %><br />
    <%= f.text_field :w41 %>
  </div>
  <div class="field">
    <%= f.label :w42 %><br />
    <%= f.text_field :w42 %>
  </div>
  <div class="field">
    <%= f.label :w43 %><br />
    <%= f.text_field :w43 %>
  </div>
  <div class="field">
    <%= f.label :w44 %><br />
    <%= f.text_field :w44 %>
  </div>
  <div class="field">
    <%= f.label :w45 %><br />
    <%= f.text_field :w45 %>
  </div>
  <div class="field">
    <%= f.label :w46 %><br />
    <%= f.text_field :w46 %>
  </div>
  <div class="field">
    <%= f.label :w47 %><br />
    <%= f.text_field :w47 %>
  </div>
  <div class="field">
    <%= f.label :w48 %><br />
    <%= f.text_field :w48 %>
  </div>
  <div class="field">
    <%= f.label :w49 %><br />
    <%= f.text_field :w49 %>
  </div>
  <div class="field">
    <%= f.label :w50 %><br />
    <%= f.text_field :w50 %>
  </div>
  <div class="field">
    <%= f.label :w51 %><br />
    <%= f.text_field :w51 %>
  </div>
  <div class="field">
    <%= f.label :w52 %><br />
    <%= f.text_field :w52 %>
  </div>
  <div class="field">
    <%= f.label :w53 %><br />
    <%= f.text_field :w53 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function(){
	
	$("#slider1").change(function () {                    
	   var newValue = $('#slider1').val();
	   $("#W1").html(newValue);
	});
	$("#slider2").change(function () {                    
	   var newValue = $('#slider2').val();
	   $("#W2").html(newValue);
	});
	$("#slider3").change(function () {                    
	   var newValue = $('#slider3').val();
	   $("#W3").html(newValue);
	});
	$("#slider4").change(function () {                    
	   var newValue = $('#slider4').val();
	   $("#W4").html(newValue);
	});
	$("#slider5").change(function () {                    
	   var newValue = $('#slider5').val();
	   $("#W5").html(newValue);
	});	
	$("#slider6").change(function () {                    
	   var newValue = $('#slider6').val();
	   $("#W6").html(newValue);
	});
	$("#slider7").change(function () {                    
	   var newValue = $('#slider7').val();
	   $("#W7").html(newValue);
	});
	$("#slider8").change(function () {                    
	   var newValue = $('#slider8').val();
	   $("#W8").html(newValue);
	});
	$("#slider9").change(function () {                    
	   var newValue = $('#slider9').val();
	   $("#W9").html(newValue);
	});
	$("#slider10").change(function () {                    
	   var newValue = $('#slider10').val();
	   $("#W10").html(newValue);
	});
	$("#slider11").change(function () {                    
	   var newValue = $('#slider11').val();
	   $("#W11").html(newValue);
	});
	$("#slider12").change(function () {                    
	   var newValue = $('#slider12').val();
	   $("#W12").html(newValue);
	});
	$("#slider13").change(function () {                    
	   var newValue = $('#slider13').val();
	   $("#W13").html(newValue);
	});
	$("#slider14").change(function () {                    
	   var newValue = $('#slider14').val();
	   $("#W14").html(newValue);
	});
	$("#slider15").change(function () {                    
	   var newValue = $('#slider15').val();
	   $("#W15").html(newValue);
	});	
	$("#slider16").change(function () {                    
	   var newValue = $('#slider16').val();
	   $("#W16").html(newValue);
	});
	$("#slider17").change(function () {                    
	   var newValue = $('#slider17').val();
	   $("#W17").html(newValue);
	});
	$("#slider18").change(function () {                    
	   var newValue = $('#slider18').val();
	   $("#W18").html(newValue);
	});
	$("#slider19").change(function () {                    
	   var newValue = $('#slider19').val();
	   $("#W19").html(newValue);
	});
	$("#slider20").change(function () {                    
	   var newValue = $('#slider20').val();
	   $("#W20").html(newValue);
	});
	$("#slider21").change(function () {                    
	   var newValue = $('#slider21').val();
	   $("#W21").html(newValue);
	});
	$("#slider22").change(function () {                    
	   var newValue = $('#slider22').val();
	   $("#W22").html(newValue);
	});
	$("#slider23").change(function () {                    
	   var newValue = $('#slider23').val();
	   $("#W23").html(newValue);
	});
	$("#slider24").change(function () {                    
	   var newValue = $('#slider24').val();
	   $("#W24").html(newValue);
	});
	$("#slider25").change(function () {                    
	   var newValue = $('#slider25').val();
	   $("#W25").html(newValue);
	});	
	$("#slider26").change(function () {                    
	   var newValue = $('#slider26').val();
	   $("#W26").html(newValue);
	});
	$("#slider27").change(function () {                    
	   var newValue = $('#slider27').val();
	   $("#W27").html(newValue);
	});
	$("#slider28").change(function () {                    
	   var newValue = $('#slider28').val();
	   $("#W28").html(newValue);
	});
	$("#slider29").change(function () {                    
	   var newValue = $('#slider29').val();
	   $("#W29").html(newValue);
	});
	$("#slider30").change(function () {                    
	   var newValue = $('#slider30').val();
	   $("#W30").html(newValue);
	});
	$("#slider31").change(function () {                    
	   var newValue = $('#slider31').val();
	   $("#W31").html(newValue);
	});
	$("#slider32").change(function () {                    
	   var newValue = $('#slider32').val();
	   $("#W32").html(newValue);
	});
	$("#slider33").change(function () {                    
	   var newValue = $('#slider33').val();
	   $("#W33").html(newValue);
	});
	$("#slider34").change(function () {                    
	   var newValue = $('#slider34').val();
	   $("#W34").html(newValue);
	});
	$("#slider35").change(function () {                    
	   var newValue = $('#slider35').val();
	   $("#W35").html(newValue);
	});	
	$("#slider36").change(function () {                    
	   var newValue = $('#slider36').val();
	   $("#W36").html(newValue);
	});
	$("#slider37").change(function () {                    
	   var newValue = $('#slider37').val();
	   $("#W37").html(newValue);
	});
	$("#slider38").change(function () {                    
	   var newValue = $('#slider38').val();
	   $("#W38").html(newValue);
	});
	$("#slider39").change(function () {                    
	   var newValue = $('#slider39').val();
	   $("#W39").html(newValue);
	});
	$("#slider40").change(function () {                    
	   var newValue = $('#slider40').val();
	   $("#W40").html(newValue);
	});
	$("#slider41").change(function () {                    
	   var newValue = $('#slider41').val();
	   $("#W41").html(newValue);
	});
	$("#slider42").change(function () {                    
	   var newValue = $('#slider42').val();
	   $("#W42").html(newValue);
	});
	$("#slider43").change(function () {                    
	   var newValue = $('#slider43').val();
	   $("#W43").html(newValue);
	});
	$("#slider44").change(function () {                    
	   var newValue = $('#slider44').val();
	   $("#W44").html(newValue);
	});
	$("#slider45").change(function () {                    
	   var newValue = $('#slider45').val();
	   $("#W45").html(newValue);
	});	
	$("#slider46").change(function () {                    
	   var newValue = $('#slider46').val();
	   $("#W46").html(newValue);
	});
	$("#slider47").change(function () {                    
	   var newValue = $('#slider47').val();
	   $("#W47").html(newValue);
	});
	$("#slider48").change(function () {                    
	   var newValue = $('#slider48').val();
	   $("#W48").html(newValue);
	});
	$("#slider49").change(function () {                    
	   var newValue = $('#slider49').val();
	   $("#W49").html(newValue);
	});
	$("#slider50").change(function () {                    
	   var newValue = $('#slider50').val();
	   $("#W50").html(newValue);
	});
	$("#slider51").change(function () {                    
	   var newValue = $('#slider51').val();
	   $("#W51").html(newValue);
	});
	$("#slider52").change(function () {                    
	   var newValue = $('#slider52').val();
	   $("#W52").html(newValue);
	});
	$("#slider53").change(function () {                    
	   var newValue = $('#slider53').val();
	   $("#W53").html(newValue);
	});
	
});
</script>
</body>
