<p id="notice"><%= notice %></p>

<p>
  <b>Seasonality:</b>
  <%= @seasonality.seasonality %>
</p>

<p>
  <b>W1:</b>
  <%= @seasonality.w1 %>
</p>

<p>
  <b>W2:</b>
  <%= @seasonality.w2 %>
</p>

<p>
  <b>W3:</b>
  <%= @seasonality.w3 %>
</p>

<p>
  <b>W4:</b>
  <%= @seasonality.w4 %>
</p>

<p>
  <b>W5:</b>
  <%= @seasonality.w5 %>
</p>

<p>
  <b>W6:</b>
  <%= @seasonality.w6 %>
</p>

<p>
  <b>W7:</b>
  <%= @seasonality.w7 %>
</p>

<p>
  <b>W8:</b>
  <%= @seasonality.w8 %>
</p>

<p>
  <b>W9:</b>
  <%= @seasonality.w9 %>
</p>

<p>
  <b>W10:</b>
  <%= @seasonality.w10 %>
</p>

<p>
  <b>W11:</b>
  <%= @seasonality.w11 %>
</p>

<p>
  <b>W12:</b>
  <%= @seasonality.w12 %>
</p>

<p>
  <b>W13:</b>
  <%= @seasonality.w13 %>
</p>

<p>
  <b>W14:</b>
  <%= @seasonality.w14 %>
</p>

<p>
  <b>W15:</b>
  <%= @seasonality.w15 %>
</p>

<p>
  <b>W16:</b>
  <%= @seasonality.w16 %>
</p>

<p>
  <b>W17:</b>
  <%= @seasonality.w17 %>
</p>

<p>
  <b>W18:</b>
  <%= @seasonality.w18 %>
</p>

<p>
  <b>W19:</b>
  <%= @seasonality.w19 %>
</p>

<p>
  <b>W20:</b>
  <%= @seasonality.w20 %>
</p>

<p>
  <b>W21:</b>
  <%= @seasonality.w21 %>
</p>

<p>
  <b>W22:</b>
  <%= @seasonality.w22 %>
</p>

<p>
  <b>W23:</b>
  <%= @seasonality.w23 %>
</p>

<p>
  <b>W24:</b>
  <%= @seasonality.w24 %>
</p>

<p>
  <b>W25:</b>
  <%= @seasonality.w25 %>
</p>

<p>
  <b>W26:</b>
  <%= @seasonality.w26 %>
</p>

<p>
  <b>W27:</b>
  <%= @seasonality.w27 %>
</p>

<p>
  <b>W28:</b>
  <%= @seasonality.w28 %>
</p>

<p>
  <b>W29:</b>
  <%= @seasonality.w29 %>
</p>

<p>
  <b>W30:</b>
  <%= @seasonality.w30 %>
</p>

<p>
  <b>W31:</b>
  <%= @seasonality.w31 %>
</p>

<p>
  <b>W32:</b>
  <%= @seasonality.w32 %>
</p>

<p>
  <b>W33:</b>
  <%= @seasonality.w33 %>
</p>

<p>
  <b>W34:</b>
  <%= @seasonality.w34 %>
</p>

<p>
  <b>W35:</b>
  <%= @seasonality.w35 %>
</p>

<p>
  <b>W36:</b>
  <%= @seasonality.w36 %>
</p>

<p>
  <b>W37:</b>
  <%= @seasonality.w37 %>
</p>

<p>
  <b>W38:</b>
  <%= @seasonality.w38 %>
</p>

<p>
  <b>W39:</b>
  <%= @seasonality.w39 %>
</p>

<p>
  <b>W40:</b>
  <%= @seasonality.w40 %>
</p>

<p>
  <b>W41:</b>
  <%= @seasonality.w41 %>
</p>

<p>
  <b>W42:</b>
  <%= @seasonality.w42 %>
</p>

<p>
  <b>W43:</b>
  <%= @seasonality.w43 %>
</p>

<p>
  <b>W44:</b>
  <%= @seasonality.w44 %>
</p>

<p>
  <b>W45:</b>
  <%= @seasonality.w45 %>
</p>

<p>
  <b>W46:</b>
  <%= @seasonality.w46 %>
</p>

<p>
  <b>W47:</b>
  <%= @seasonality.w47 %>
</p>

<p>
  <b>W48:</b>
  <%= @seasonality.w48 %>
</p>

<p>
  <b>W49:</b>
  <%= @seasonality.w49 %>
</p>

<p>
  <b>W50:</b>
  <%= @seasonality.w50 %>
</p>

<p>
  <b>W51:</b>
  <%= @seasonality.w51 %>
</p>

<p>
  <b>W52:</b>
  <%= @seasonality.w52 %>
</p>

<p>
  <b>W53:</b>
  <%= @seasonality.w53 %>
</p>


<%= link_to 'Edit', edit_seasonality_path(@seasonality) %> |
<%= link_to 'Back', seasonalities_path %>
