<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2><%= t "devise.registrations.new.title1"%></h2>
<h5><%= t "devise.registrations.new.text1"%></h5>
<h5><%= t "devise.registrations.new.text2"%></h5>
<br/>
<h6><%= t "devise.registrations.new.choose"%></h6>
<section class="services grid-wrap">
	<article class="grid col-one-third mq3-col-full">
		<aside>01</aside>
		<h4><%= t "devise.registrations.new.title_option1"%></h4>
		<p><%= t "devise.registrations.new.text_option1"%></p>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<aside>02</aside>
		<h4><%= t "devise.registrations.new.title_option2"%></h4>
		<p><%= t "devise.registrations.new.text_option2"%></p>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<aside>03</aside>
		<h4><%= t "devise.registrations.new.title_option3"%></h4>
		<p><%= t "devise.registrations.new.text_option3"%></p>
	</article>
</section>
<section class="services grid-wrap">
	<article class="grid col-one-third mq3-col-full">
		<h4><%= t "devise.registrations.new.price_option1"%></h4>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<h4>9€ / <%= t "time.prompts.month"%></h4>
	</article>	
	<article class="grid col-one-third mq3-col-full">
		<h4>90€ / <%= t "time.prompts.year"%></h4>
	</article>
</section>
<br/>

  <div class="field">
   <h6> <%= t"activerecord.attributes.subscriptions.choice" %></h6>
  	<%= f.select(:option, [[t("devise.registrations.new.title_option1"), "beta-tester"], [t("devise.registrations.new.title_option2"), "1 month"], [t("devise.registrations.new.title_option3"), "1 year"]])  %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
