<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2><%= t "devise.registrations.new.title1"%></h2>
<p><dd><%= t "devise.registrations.new.text1"%></dd></p>
<p><dd><%= t "devise.registrations.new.text2"%></p></dd>
<p><dd><%= t "devise.registrations.new.text3"%></p></dd>
<p><dd><%= t "devise.registrations.new.text4"%></p></dd>
<p><dd><%= t "devise.registrations.new.text5"%></p></dd>
<p><dd><%= t "devise.registrations.new.text6"%></p></dd>
<p><dd><%= t "devise.registrations.new.text7"%></p></dd>
<br/><br/>
<hr>
<h2><%= t "devise.registrations.new.choose"%></h2>

<section class="services grid-wrap">
	<article class="grid col-one-half mq3-col-full">
		<aside>01</aside>
		<h4><%= t "devise.registrations.new.title_option2"%></h4>
		<p><%= t "devise.registrations.new.text_option2"%></p>
		<p><%= t "devise.registrations.new.text_option22"%></p>	
	</article>	
	<article class="grid col-one-half mq3-col-full">
		<aside>02</aside>
		<h4><%= t "devise.registrations.new.title_option3"%></h4>
		<p><%= t "devise.registrations.new.text_option3"%></p>
		<p><%= t "devise.registrations.new.text_option32"%></p>
		<p><%= t "devise.registrations.new.text_option33"%></p>
	</article>
</section>
<section class="services grid-wrap">	
	<article class="grid col-one-half mq3-col-full">
		<h4>9€ / <%= t "time.prompts.month"%></h4>
	</article>	
	<article class="grid col-one-half mq3-col-full">
		<h4>90€ / <%= t "time.prompts.year"%></h4>
	</article>
</section>
<br/>

<% end %>

<section class="services grid-wrap">
	<article class="grid col-one-quarter mq3-col-full">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="8KBS3ZMXC42PS">
					<input type="hidden" name="on0" value="Choose your option"><select name="os0">
					<option value="1 month"><%= t "devise.registrations.new.1month"%> 9,00 EUR</option>
					<option value="1 year"><%= t "devise.registrations.new.1year"%> 90,00 EUR</option>
				</select> 
			<input type="hidden" name="currency_code" value="EUR">
			<br/><br/>
			<button><%= t "devise.registrations.new.button"%></button>
		</form>
	</article>
	<article class="grid col-one-quarter mq3-col-full">
			<img src="/images/paypal_verified.jpg">
			<p><%= t "devise.registrations.new.Paypal"%> </p>
	</article>	
</section>
