<button><%= link_to t("activerecord.attributes.subscriptions.new"), new_subscription_path %></button>
<br />
<hr>
<br/>

<h2><%= t ".title"%></h2>

<p><%= t ".text"%> 

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   <tr style="background-color:lightgrey;"> 
    <th style="width:150px;">Option</th>
    <th style="width:150px;">Amount</th>
	<th style="width:150px;">Start</th>
	<th style="width:150px;">End</th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td style="padding-left:10px; color:midnightblue;"><%= subscription.option %></td>
    <td style="padding-left:10px; color:midnightblue;"><%= subscription.amount %></td>
	<td style="padding-left:10px; color:midnightblue;"><%= subscription.start%></td>
	<td style="padding-left:10px; color:midnightblue;"><%= subscription.end%></td>
<% end %>
</table>

<br />
