<article id="navtabs" class="grid col-full">
	<ul class="tabs clearfix">
	    <button><%= link_to t("movements.index.new"), new_movement_path %></button>	
	    <li><%= link_to "Global", movements_path %></li>
	    <li><%= link_to t("reporting.best"), reporting_best_sellers_path %></li>
	    <li><%= link_to t("reporting.slow"), reporting_slow_movers_path %></li>
	    <li><%= link_to t("reporting.end"), reporting_end_life_path %></li>
	</ul>
</article>
<br />
<hr>
<button id="opener">?</button>
<div id="dialog" title="Help">
  <p><%= t ".pop_up"%> </p>
</div>

<h2><%= t ".title1"%></h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_text"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.family"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.department"%></th>		
	      <th style="width:150px;"><%= t "activerecord.attributes.article.stock_at_leadtime"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.turnover"%></th>	
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.quantity"%></th>			
		</tr>
	<% @articles_last_4weeks_to[0..(@articles_4weeks.length * 0.4)].each do |article| %>
		<tr>
		<td><%= link_to article.article_code, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= link_to Article.where(:user => current_user.email, :article_code => article.article_code).first.article_text, Article.where(:user => current_user.email, :article_code => article.article_code).first%></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.family %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.department %></td> 				
		<td><%= number_with_precision(Article.where(:user => current_user.email, :article_code => article.article_code).first.stock_at_replenishment, :precision => 0) %></td> 
		<td><%= number_with_precision(article.turnover, :precision =>0) %></td> 		
		<td><%= number_with_precision(article.quantity, :precision =>0) %></td> 
		</tr>
	<%end%>
</table>
<br />
<hr>
<br/>
<h2><%= t ".title2"%></h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_text"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.family"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.department"%></th>		
	      <th style="width:150px;"><%= t "activerecord.attributes.article.stock_at_leadtime"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.turnover"%></th>	
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.quantity"%></th>			
		</tr>
	<% @articles_last_4weeks_qty[0..(@articles_4weeks.length * 0.4)].each do |article| %>
		<tr>
		<td><%= link_to article.article_code, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= link_to Article.where(:user => current_user.email, :article_code => article.article_code).first.article_text, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.family %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.department %></td> 				
		<td><%= number_with_precision(Article.where(:user => current_user.email, :article_code => article.article_code).first.stock_at_replenishment, :precision => 0) %></td> 
		<td><%= number_with_precision(article.turnover, :precision =>0) %></td> 		
		<td><%= number_with_precision(article.quantity, :precision =>0) %></td> 
		</tr>
	<%end%>
</table>
<br />
<hr>
<br/>
<h2><%= t ".title3"%></h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_text"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.family"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.department"%></th>		
	      <th style="width:150px;"><%= t "activerecord.attributes.article.stock_at_leadtime"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.turnover"%></th>	
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.quantity"%></th>			
		</tr>
	<% @articles_last_12weeks_to[0..(@articles_12weeks.length * 0.4)].each do |article| %>
		<tr>
		<td><%= link_to article.article_code, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= link_to Article.where(:user => current_user.email, :article_code => article.article_code).first.article_text, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.family %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.department %></td> 				
		<td><%= number_with_precision(Article.where(:user => current_user.email, :article_code => article.article_code).first.stock_at_replenishment, :precision => 0) %></td> 
		<td><%= number_with_precision(article.turnover, :precision =>0) %></td> 		
		<td><%= number_with_precision(article.quantity, :precision =>0) %></td> 
		</tr>
	<%end%>
</table>
<br />
<hr>
<br/>
<h2><%= t ".title4"%></h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_text"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.family"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.article.department"%></th>		
	      <th style="width:150px;"><%= t "activerecord.attributes.article.stock_at_leadtime"%></th>
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.turnover"%></th>	
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.quantity"%></th>			
		</tr>
	<% @articles_last_12weeks_qty[0..(@articles_12weeks.length * 0.4)].each do |article| %>
		<tr>
		<td><%= link_to article.article_code, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= link_to Article.where(:user => current_user.email, :article_code => article.article_code).first.article_text, Article.where(:user => current_user.email, :article_code => article.article_code).first %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.family %></td> 
		<td><%= Article.where(:user => current_user.email, :article_code => article.article_code).first.department %></td> 				
		<td><%= number_with_precision(Article.where(:user => current_user.email, :article_code => article.article_code).first.stock_at_replenishment, :precision => 0) %></td> 
		<td><%= number_with_precision(article.turnover, :precision =>0) %></td> 		
		<td><%= number_with_precision(article.quantity, :precision =>0) %></td> 
		</tr>
	<%end%>
</table>
<script>
$(document).ready(function(){
	$( "#dialog" ).dialog({ autoOpen: false });
	$( "#opener" ).click(function() {
	  $( "#dialog" ).dialog( "open" );
	});
	$( ".selector" ).dialog({ closeOnEscape: true });
	
});
</script>