<h1>Listing ei_products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ei_products.each do |ei_product| %>
  <tr>
    <td><%= ei_product.name %></td>
    <td><%= ei_product.price %></td>
    <td><%= link_to 'Show', ei_product %></td>
    <td><%= link_to 'Edit', edit_ei_product_path(ei_product) %></td>
    <td><%= link_to 'Destroy', ei_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ei product', new_ei_product_path %>
