<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier %><br />
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :supplier_text %><br />
    <%= f.text_field :supplier_text %>
  </div>
  <div class="field">
    <%= f.label :leadtime %> (mandatory field)<br />
    <%= f.number_field :leadtime, :required => true %>
  </div>
  <div class="field">
    <%= f.label :order_minimum_qty %><br />
    <%= f.text_field :order_minimum_qty %>
  </div>
  <div class="field">
    <%= f.label :order_minimum_value %><br />
    <%= f.text_field :order_minimum_value %>
  </div>
	</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
