<%= link_to t(".new_supplier"), new_supplier_path %>
<br /><br/>

<h2><%= t ".title"%></h2>

<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
   <tr style="background-color:lightgrey;"> 
      <th style="width:150px;"><%= t "activerecord.attributes.article.supplier"%></th> 
      <th style="width:150px;"><%= t "activerecord.attributes.supplier.supplier_text"%></th> 
      <th style="width:150px;"><%= t "activerecord.attributes.supplier.leadtime"%></th> 
      <th style="width:150px;"><%= t "activerecord.attributes.supplier.order_minimum_qty"%></th> 
      <th style="width:150px;"><%= t "activerecord.attributes.supplier.order_minimum_value"%></th> 
   </tr> 
   <% @suppliers.each do |supplier| %>
	<tr> 
      	<td style="padding-left:10px; color:midnightblue;"><%= supplier.supplier %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= supplier.supplier_text %></td> 
      	<td style="padding-left:10px; color:midnightblue;"><%= supplier.leadtime %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= supplier.order_minimum_qty %></td> 
		<td style="padding-left:10px; color:midnightblue;"><%= supplier.order_minimum_value %></td> 
	  	<td><%= link_to t("actions.show"), supplier %></td>
	    <td><%= link_to t("actions.edit"), edit_supplier_path(supplier) %></td>
	    <td><%= link_to t("actions.destroy"), supplier, :method => :delete, :data => { :confirm => t("actions.confirm") } %></td>
	  </tr>
	<% end %>
</table>

<br /><br/>
<%= link_to t("actions.download_supplier"), url_for(:format=>"xlsx") %>
