<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Supplier</th>
    <th>Suppliertext</th>
    <th>Leadtime</th>
    <th>Orderminimumqty</th>
    <th>Orderminimumvalue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.supplier %></td>
    <td><%= supplier.supplierText %></td>
    <td><%= supplier.leadtime %></td>
    <td><%= supplier.orderMinimumQty %></td>
    <td><%= supplier.orderMinimumValue %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
