<head>
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="/js/themes/gray.js"></script>	

</head>
<body>
<hr>
<h2><%= t ".title1"%></h2>

	<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   		<tr style="background-color:lightgrey;">
		      <th style="width:75px;"><%= t "activerecord.attributes.supplier.supplier"%></th> 
		      <th style="width:75px;"><%= t "activerecord.attributes.supplier.supplier_text"%></th> 
		      <th style="width:75px;"><%= t "activerecord.attributes.supplier.leadtime"%></th> 
		      <th style="width:75px;"><%= t "activerecord.attributes.supplier.order_minimum_qty"%></th> 
		      <th style="width:75px;"><%= t "activerecord.attributes.supplier.order_minimum_value"%></th> 	
			</tr>
				<td><%= @supplier.supplier %></td>
				<td><%= @supplier.supplier_text %></td>
				<td><%= @supplier.leadtime %></td>
				<td><%= @supplier.order_minimum_qty %></td>
				<td><%= @supplier.order_minimum_value %></td>
			</tr>
	</table>
<%= link_to t("actions.edit"), edit_supplier_path(@supplier) %> |
<%= link_to t(".back"), suppliers_path %>
</br>
</br>
<h2>Articles</h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%> : <%= Article.where(:article_code => @articles.select("article_code")).count%></th> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_text"%></th> 
	      <th style="width:150px;">Total <%= t "activerecord.attributes.movement.turnover"%> : <%= Movement.where(:article_code => @articles.select("article_code")).sum("turnover")%></th> 
	      <th style="width:150px;">Total <%= t "activerecord.attributes.movement.quantity"%> : <%= Movement.where(:article_code => @articles.select("article_code")).sum("quantity")%></th> 
	   </tr> 
	<% @articles.each do |article| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.article_code, Article.where(:article_code => article.article_code).first%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.article_text, Article.where(:article_code => article.article_code).first%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:article_code => article.article_code).sum("turnover")%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:article_code => article.article_code).sum("quantity")%></td> 
		 </tr>
		<% end %>
</table>
</br>
<h2><%= t ".title2"%></h2>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;"><%= t "activerecord.attributes.article.article_code"%> : <%= @movements.count%></th> 
	      <th style="width:150px;">Date</th> 
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.turnover"%> : <%= Movement.where(:article_code => @articles.select("article_code")).sum("turnover")%></th> 
	      <th style="width:150px;"><%= t "activerecord.attributes.movement.quantity"%> : <%= Movement.where(:article_code => @articles.select("article_code")).sum("quantity")%></th> 
	   </tr> 
	<% @movements.each do |movement| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.article_code%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.movement_date.strftime("%B %d, %Y")%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.turnover%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.quantity%></td> 
		 </tr>
		<% end %>
</table>

</body>
