<head>
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="/js/themes/gray.js"></script>	

</head>
<body>
<h1>Supplier view</h1>

	<table cellspacing="0" cellpadding="3px" rules="all" 
	   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   		<tr style="background-color:lightgrey;">
		      <th style="width:75px;">Supplier</th> 
		      <th style="width:75px;">Supplier Test</th> 
		      <th style="width:75px;">Leatime</th> 
		      <th style="width:75px;">Order Min Qty</th> 
		      <th style="width:75px;">Order Min Value</th> 	
			</tr>
				<td><%= @supplier.supplier %></td>
				<td><%= @supplier.supplier_text %></td>
				<td><%= @supplier.leadtime %></td>
				<td><%= @supplier.order_minimum_qty %></td>
				<td><%= @supplier.order_minimum_value %></td>
			</tr>
	</table>
<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back to suppliers list', suppliers_path %>
</br>
</br>
<h1>Articles</h1>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;">Article code: <%= Article.where(:article_code => @articles.select("article_code")).count%></th> 
	      <th style="width:150px;">Article text</th> 
	      <th style="width:150px;">Total turnover: <%= Movement.where(:article_code => @articles.select("article_code")).sum("turnover")%></th> 
	      <th style="width:150px;">Total quantity: <%= Movement.where(:article_code => @articles.select("article_code")).sum("quantity")%></th> 
	   </tr> 
	<% @articles.each do |article| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.article_code, Article.where(:article_code => article.article_code).first%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= link_to article.article_text, Article.where(:article_code => article.article_code).first%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:article_code => article.article_code).sum("turnover")%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= Movement.where(:article_code => article.article_code).sum("quantity")%></td> 
		 </tr>
		<% end %>
</table>
</br>
<h1>Movements</h1>
<table cellspacing="0" cellpadding="3px" rules="all" 
   style="border:solid 1px #777777; border-collapse:collapse; font-family:verdana; font-size:11px;"> 
	   <tr style="background-color:lightgrey;"> 
	      <th style="width:150px;">Article code: <%= @movements.count%></th> 
	      <th style="width:150px;">Date</th> 
	      <th style="width:150px;">Turnover: <%= Movement.where(:article_code => @articles.select("article_code")).sum("turnover")%></th> 
	      <th style="width:150px;">Quantity: <%= Movement.where(:article_code => @articles.select("article_code")).sum("quantity")%></th> 
	   </tr> 
	<% @movements.each do |movement| %>
		<tr> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.article_code%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.movement_date.strftime("%B %d, %Y")%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.turnover%></td> 
	      	<td style="padding-left:10px; color:midnightblue;"><%= movement.quantity%></td> 
		 </tr>
		<% end %>
</table>

</body>
