<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("logo.jpg", :alt => "Application Exemple", :class => "round") %>
        <nav class="round">
          	<div id="user_nav">
			<% if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
			<% end %>
			<br/><br/>
			</div>
			<ul>
            <a href="/articles"> Articles |</a>
			<a href="/suppliers"> Suppliers |</a>
			<a href="/movements"> Stock Movements |</a>
			<a href="/orders"> Orders |</a>
			<a href="/seasonalities"> Seasonalities |</a>
			<a href="/pages/home">Home</a>
          </ul>
			
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
  </section>
    <%= render 'layouts/footer' %>
		
    </div>
  </body>
</html>
