<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("logo.jpg", :alt => "Application Exemple", :class => "round") %>
        <nav class="round">
          	<div id="user_nav">
			<% if user_signed_in? %>
				<%= t ".signed_in_as"%><%= current_user.email %><%= t ".not_you"%>
				<%= link_to t(".sign_out"), destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
			<% end %>
			<br/>
			</div>
			<div id="language">
				Language:
				<%= link_to_unless_current "English", locale: "en"%> |
				<%= link_to_unless_current "Français", locale: "fr"%>
			</div>
			<br/>
			<ul>
            <a href="/articles"> Articles |</a>
			<a href="/suppliers"> Suppliers |</a>
			<a href="/movements"> Stock Movements |</a>
			<a href="/orders"> Orders</a>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
  </section>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>
