<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <header id="navtop">
				<img src="/images/logo.jpg" alt="Efficient-Inventory" class="logo fleft">
				<img src="/images/logo_text.jpg" alt="Efficient-Inventory-text" class="logo fleft">		
			<nav class="fright">
			<ul><%= link_to t(".suppliers"), suppliers_path%></ul>				
            <ul> <%= link_to 'Articles', articles_path %></ul>
			<ul> <%= link_to t(".movements"), movements_path%></ul>
			<ul> <%= link_to t(".orders"), orders_path%></ul>
			<ul>
          		<div id="user_nav">
				<li><% if user_signed_in? %>
				<%= t ".signed_in_as"%><%= current_user.email %></li>
				<li><%= t ".not_you"%>
				<%= link_to t(".sign_out"), destroy_user_session_path, :method => :delete %>
				<% else %>
				<%= link_to t(".register"), new_user_registration_path %> <%= t ".or"%> <%= link_to t(".sign_in"), new_user_session_path %>.
				<% end %></li>
				</div>
			</ul>
			<ul>
				<div id="language">
				<li><%= t ".language"%></li>
				<li><%= link_to_unless_current "English", locale: "en"%>
					<%= link_to image_tag("/images/button_english.jpg"), locale: "en"%>
				<li><%= link_to_unless_current "Français", locale: "fr"%>
					<%= link_to image_tag("/images/button_france.jpg"), locale: "fr"%>
				</div>
			</ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
	<hr>  
</section>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/hlxue2ubt7UDnjVGtP7TlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 198413,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>
